

.lineOne {
    transform: translateY(8px)  rotate(-45deg);
    
}

.lineTwo {
    transform: rotate(45deg);
   
}

.lineThree {
    transform: translateY(-18px) rotate(45deg);
    visibility: hidden;
  
    
}
#menu {
    width: 100%;
    transform: translateX(1000px);
}

.animateMenu {
    transition: all 0.4s cubic-bezier(0.53,-0.14, 1, 1);
}

@media screen and (min-width: 600px) {
    #menu {
        transform: translateX(3000px);
    }
}

