

.lineOne {
    transform: translateY(8px)  rotate(-45deg);
    
}

.lineTwo {
    transform: rotate(45deg);
   
}

.lineThree {
    transform: translateY(-18px) rotate(45deg);
    visibility: hidden;
  
    
}
#menu {
    width: 0;
}

.animateMenu {
    transition: all 0.2s cubic-bezier(0.53,-0.14, 1, 1);
}

